<div class="container">
  <div class="row">
    <div class="col-md-6">
        <img src="{{Photo}}" alt="Pulpit Rock" width="350" height="400">
    </div>
    <div class="col-md-6">
      <div class="col-md-12">
        A design specification provides explicit information about the requirements for a product and how the product is to be put together. It is the most traditional kind of specification, having been used historically in public contracting for buildings, highways, and other public works, and represents the kind of thinking in which architects and engineers have been trained.
      </div>
      <div class="col-md-12">
        <a href="#" class="btn btn-primary">Download</a>
        <a href="#" class="btn btn-info">Images</a>
      </div>
    </div>
  </div>
</div>
